{% extends "chess_app/base.html" %}
{% load static %}
{% block content %}
<!-- Load phaser from CDN! -->
<script src="https://cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.js"></script>
<script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>

<button id="submit">Button</button>

{{ lobby_name|json_script:"lobby-name"}}
<script>
    // preload must stay inlined so that django can serve static assets!
    function preload() {
        this.load.image('bb', "{% static 'assets/bb.svg' %}");
        this.load.image('bk', "{% static 'assets/bk.svg' %}");
        this.load.image('bn', "{% static 'assets/bn.svg' %}");
        this.load.image('bp', "{% static 'assets/bp.svg' %}");
        this.load.image('bq', "{% static 'assets/bq.svg' %}");
        this.load.image('br', "{% static 'assets/br.svg' %}");
        this.load.image('wb', "{% static 'assets/wb.svg' %}");
        this.load.image('wk', "{% static 'assets/wk.svg' %}");
        this.load.image('wn', "{% static 'assets/wn.svg' %}");
        this.load.image('wp', "{% static 'assets/wp.svg' %}");
        this.load.image('wq', "{% static 'assets/wq.svg' %}");
        this.load.image('wr', "{% static 'assets/wr.svg' %}");
    }
</script>

<!-- Load dependencies before game.js! -->
<script src="{% static 'js/constants.js' %}"></script>
<script src="{% static 'js/Board.js' %}"></script>
<script src="{% static 'js/Piece.js' %}"></script>
<script src="{% static 'js/Queen.js' %}"></script>
<script src="{% static 'js/Bishop.js' %}"></script>
<script src="{% static 'js/Pawn.js' %}"></script>
<script src="{% static 'js/Knight.js' %}"></script>
<script src="{% static 'js/Rook.js' %}"></script>
<script src="{% static 'js/King.js' %}"></script>
<script src="{% static 'js/game.js' %}"></script>

<script>
    const lobbyName = JSON.parse(document.getElementById('lobby-name').textContent);

    document.querySelector('#submit').onclick = function (e) {
        chatSocket.send(JSON.stringify({
            'board': board.getState()
        }))
    }

    const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/chess_app/' +
        lobbyName + '/'
    )

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data.board);
    }
</script>

{% endblock content %}