*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  /*background-color: grey;*/
  display: block;
  text-align: center;
}
//Create Column
.column {
  float:left;
  width: 50%;
  padding: 15px;
}
//create Row
.row{
  content: "";
  display: table;
  clear: both;
}
/*
Join Button CSS
*/

.JoinButton{
  display: inline-block;
  padding: 15PX 25PX;
  font-size: 24PX;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.JoinButton:hover{background-color: #3e8e41}
.JoinButton:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4PX);
}
.header-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.description-textbox{
  font-size: 1.75em;
}
h3{
  font-size: 3em;
}

h1 {
  max-width: 100%;
  height: auto;
  border-style: double;
	font-size: 8vw;
	font-weight: 900;
  width: auto;
	background-color: grey;
	color: #000;
	display: block;
	padding: .3em;
}

h1:nth-child(2) {
  border-style: none;
	position: absolute;
  top: -5px;
  right: 175px;
	background-color: transparent;
  //display: none;
	color: #fff;
	clip-path: inset(-1% -1% 10% -1%);
  // Added the negative values to prevent icky "bleed" in Chrome
}

p {
	font-size: 2vw;
	font-weight: 900;
	margin-top: 1em;
	text-align: center;
	span {
		display: block;
		transform: rotate(90deg);
		margin-top: 0.25em;
	}
}
//ADD Image Of board

.boardimg {
  max-width: 100%;
  height: auto;
}
